[submodule "OMOP_SERVERLESS/Atlas"]
	path = OMOP_SERVERLESS/Atlas
	url = https://github.com/Missouri-BMI/Atlas.git
[submodule "OMOP_SERVERLESS/WebAPI"]
	path = OMOP_SERVERLESS/WebAPI
	url = https://github.com/Missouri-BMI/WebAPI.git
[submodule "OMOP_SERVERLESS/DataQualityDashboard"]
	path = OMOP_SERVERLESS/DataQualityDashboard
	url = https://github.com/OHDSI/DataQualityDashboard.git
[submodule "OMOP_SERVERLESS/Ares"]
	path = OMOP_SERVERLESS/Ares
	url = https://github.com/OHDSI/Ares.git
[submodule "OMOP_SERVERLESS/Achilles"]
	path = OMOP_SERVERLESS/Achilles
	url = https://github.com/Missouri-BMI/Achilles.git
[submodule "OMOP_SERVERLESS/SqlRender"]
	path = OMOP_SERVERLESS/SqlRender
	url = https://github.com/Missouri-BMI/SqlRender.git
[submodule "aou-ehr-file-check"]
	path = OMOP_ON_PCORNET_CDM/scripts/analysis/All-of-US/aou-ehr-file-check
	url = https://github.com/Missouri-BMI/aou-ehr-file-check.git
