[submodule "WebAPI"]
	path = WebAPI
	url = https://github.com/Missouri-BMI/WebAPI.git
[submodule "Atlas"]
	path = Atlas
	url = https://github.com/Missouri-BMI/Atlas.git

[submodule "aou-ehr-file-check"]
	path = All-of-US/aou-ehr-file-check
	url = https://github.com/all-of-us/aou-ehr-file-check.git
[submodule "All-of-US/aou-ehr-file-check"]
	path = All-of-US/aou-ehr-file-check
	url = https://github.com/all-of-us/aou-ehr-file-check.git
